<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EngEd Plagiarism Checker</title>
    </head>

    <body>
        <header>
            <h1>EngEd Plagiarism Checker</h1>
        </header>

        <main>
            <h2>Enter PR Number</h2>
            <form id="search-form" action="/retrieve-pr" method="post">
                <label for="pr">PR Number</label>
                <input id="pr" name="pr" type="number" required />
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>
